.about {
  font-size: 12px;
  text-align: center;
  color: #BDBDBD;
  padding-top: 10px;
  p {
    margin-top: 10px;
  }
  a {
    color: #BDBDBD;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
