.todo__actions {
  background-color: #fff;
  display: flex;
  padding: 8px 15px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.count {
  flex-basis: 80px;
}
.filter {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  outline: 0;
  font-family: $default-font;
  font-size: 14px;
  padding: 3px 7px;
  margin: 0 3px;
  cursor: pointer;
  &:hover {
    border: 1px solid $gray-lighten;
  }
}
.active {
  border: 1px solid $red-lighten;
  &:hover {
    border: 1px solid $red-lighten;
  }
}
.clear__completed {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-family: $default-font;
  color: $gray-darken;
  transition: .15s all ease;
  outline: 0;
  &:hover {
    text-decoration: underline;
  }
  &:disabled {
    color: $gray-lighten;
    text-decoration: none;
    cursor: default;
  }
}
