.todo__list {
  border-top: 1px solid $gray-lighten;
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list__item {
  display: flex;
  border-bottom: 1px solid $gray-lighten;
  &:hover {
    .remove {
      opacity: 1;
    }
  }
}
.labelCheck {
  display: inline-block;
  padding: 0 11.5px;
  background-color: #fff;
}
.check {
  content: "";
  align-self: flex-start;
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 0;
  border: 1px solid $gray-lighten;
  &:before {
    border-bottom: 3px solid $green-lighten;
    border-right: 3px solid $green-lighten;
    position: absolute;
    top: 0;
    left: 4px;
    width: 11px;
    opacity: 0;
    height: 16px;
    content: '';
    display: block;
    transition: .15s ease all;
    transform: scale(.7, .7) rotate(45deg);
  }
}
.checkbox:checked + .check {
  border-color: $green-lighten;
  &::before {
    opacity: 1;
  }
}
.label {
  padding: 15px 10px 15px 18px;
  font-size: 20px;
  width: 100%;
  word-break: break-all;
}
.completed {
  text-decoration: line-through;
  color: $gray-lighten;
}
.remove {
  font-size: 26px;
  padding: 11px;
  color: $red-lighten;
  align-self: flex-end;
  cursor: default;
  opacity: 0;
  transition: .15s ease all;
  &:hover {
    color: $red-darken;
  }
}
.edit {
  margin-left: 60px;
  padding: 15px 15px 15px 5px;
  width: 100%;
  font-size: 20px;
}
