html {
  width:100vw;
  overflow-x:hidden;
}
body {
  height: 100vh;
  margin: 0;
  background-color: #F5F5F5;
	font-size: 14px;
  font-family: $default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4d4d4d;
}
input[type="checkbox"] {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // -ms-appearance: none;
  // -o-appearance: none;
  // appearance: none;
  // outline: 0;
  // margin: 0;
  opacity: 0;
  width: 0;
  height: 0;
}
input[type="text"] {
  outline: 0;
  border: 0;
  color: #4d4d4d;
  font-family: $default-font;
}
::placeholder {
	color: $gray-lighten;
}
.app {
  display: flex;
  justify-content: center;
  min-width: 480px;
}
