.todo__wrap {
  position: relative;
  display: flex;
  width: 500px;
  flex-direction: column;
}

.main {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 75px;
  color: $green-lighten;
  opacity: .6;
  text-align: center;
  margin-bottom: 10px;
}
